---
import FormHero from '@components/FormHero.astro';
import globalSettings from '@config/config.json.ts';
import BaseLayout from "@layouts/BaseLayout.astro";
import { linkify } from '@/utils/utils';
import en from '@/locales/en.json';

const t = await import(/* @vite-ignore */ `@locales/${globalSettings.language}.json`)
  .catch(() => import(/* @vite-ignore */ '@locales/en.json'));

const missionText = linkify(en.about_page.mission_text);

---

<BaseLayout globalSettings={globalSettings} t={t} title={t.about_page.title_hero} description={t.about_page.description_hero}>
    <main>
        <FormHero type={"About"} t={t} globalSettings={globalSettings} title={t.about_page.title_hero} description={t.about_page.description_hero}>
                            <div class="about-content">
            <div class="logo">
                <img src="/images/Logo/logo.svg" alt={globalSettings.site_name} style="max-width: 150px; width: 100%; height: auto; padding-bottom: 20px;" />
            </div>
            </div>
                <h3>{t.about_page.mission_title}</h3>
                <div set:html={missionText}></div>
            </div>
        </FormHero>
    </main>
</BaseLayout>
