---
import BaseLayout from "@layouts/BaseLayout.astro";
import globalSettings from '@config/config.json.ts';
import { getSortedaudiopackss } from "@utils/utils.js";
import Hero from "@components/Hero.astro";
import AudioPackCard from "@components/AudioPackCard.astro";
import Pagination from "@components/Pagination.astro";

const { audiopackss, total_audiopackss } = await getSortedaudiopackss();
const pageSize = globalSettings.pagination_posts_number;
const pageData = audiopackss.slice(0, pageSize);

const t = await import(/* @vite-ignore */ `@locales/${globalSettings.language}.json`)
  .catch(() => import(/* @vite-ignore */ '@locales/en.json'));
---

<BaseLayout globalSettings={globalSettings} t={t} title={t.audiopacks_page?.title_hero ?? 'All Samples'} description={t.audiopacks_page?.description_hero ?? 'Browse all samples packs.'}>
    <main>
        <div class="iteration-container">
            <Hero 
                globalSettings={globalSettings} 
                title={t.audiopacks_page?.title_hero ?? 'All Samples'}
                description={t.audiopacks_page?.description_hero ?? 'Browse all samples packs.'} 
                total_number={total_audiopackss}
            />
        </div>

        <section class:list={["wide-container section-padding-top grid-section", { 'hidden-animation': globalSettings.use_page_load_animations }]}> 
            <div class="grid-outer section-padding-bottom">
                <div class="grid pagination-grid">
                    {
                        pageData.map((pack) =>
                            <AudioPackCard post={pack}/>
                        )
                    } 
                </div>
                <Pagination t={t} posts_per_page={pageSize} total_posts={total_audiopackss}/>
            </div>
        </section>
    </main>
</BaseLayout>
