---
import type { MembershipCardProps } from "@src-types/types"

const { tier } = Astro.props as {tier: MembershipCardProps}
const { globalSettings, t } = Astro.props;
---

<div class="tier-card">
    <div class="tier-description">
        <div class:list={['membership-top-border', { 'horizontal-line-animation': globalSettings.use_page_load_animations }]}></div>

        <div class:list={['tier-description-inner section-padding-extra', { 'hidden-animation': globalSettings.use_page_load_animations }]}> 
            {tier.description &&       
                <h3>{tier.description}</h3>
            }
        </div>
    </div>

    <div class="tier-information">
        <div class:list={['membership-top-border', { 'horizontal-line-animation': globalSettings.use_page_load_animations }]}></div>

        <div class:list={['tier-information-inner section-padding-extra', { 'hidden-animation': globalSettings.use_page_load_animations }]}>            <div class="medium-text tier-name-and-price">
                <span>{tier.name} -</span>
                <span>
                    {tier.monthly_price}
                </span>
            </div>

            {tier.description && 
                <div class="tier-description-mobile">
                    <h3>
                        {tier.description}
                    </h3>
                </div>
            }            {tier.benefits && 
                <div class="benefits-outer">
                    <ul>
                        {tier.benefits.map((benefit) => (
                            <li>{benefit}</li>
                        ))}
                    </ul>
                </div>
            }<div class="tier-button-wrapper">
                {tier.name === "Starter" ? (
                    <div>
                        <div id="paypal-button-container-P-3MP41776X70737201NBIOZRQ"></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=AWBrHlmFv1iZ8DedRhF1w0tIScoirhxLR7Wiadwlwfs5nWALTYApTR0iZUheTF2O2vL8httmrKzkR3Gb&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                        <script>
                          paypal.Buttons({
                              style: {
                                  shape: 'rect',
                                  color: 'white',
                                  layout: 'vertical',
                                  label: 'subscribe'
                              },
                              createSubscription: function(data, actions) {
                                return actions.subscription.create({
                                  plan_id: 'P-3MP41776X70737201NBIOZRQ'
                                });
                              },
                              onApprove: function(data, actions) {
                                alert(data.subscriptionID);
                              }
                          }).render('#paypal-button-container-P-3MP41776X70737201NBIOZRQ');
                        </script>
                    </div>
                ) : tier.name === "Pro" ? (
                    <div>
                        <div id="paypal-button-container-P-5VY34435YG791411WNBIPG6A"></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=AWBrHlmFv1iZ8DedRhF1w0tIScoirhxLR7Wiadwlwfs5nWALTYApTR0iZUheTF2O2vL8httmrKzkR3Gb&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                        <script>
                          paypal.Buttons({
                              style: {
                                  shape: 'rect',
                                  color: 'blue',
                                  layout: 'vertical',
                                  label: 'subscribe'
                              },
                              createSubscription: function(data, actions) {
                                return actions.subscription.create({
                                  /* Creates the subscription */
                                  plan_id: 'P-5VY34435YG791411WNBIPG6A'
                                });
                              },
                              onApprove: function(data, actions) {
                                alert(data.subscriptionID); // You can add optional success message for the subscriber here
                              }                          }).render('#paypal-button-container-P-5VY34435YG791411WNBIPG6A'); // Renders the PayPal button
                        </script>
                    </div>
                ) : tier.name === "Hero" ? (
                    <div>
                        <div id="paypal-button-container-P-658069381H438834BNBIPIDA"></div>
                        <script src="https://www.paypal.com/sdk/js?client-id=AWBrHlmFv1iZ8DedRhF1w0tIScoirhxLR7Wiadwlwfs5nWALTYApTR0iZUheTF2O2vL8httmrKzkR3Gb&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                        <script>
                          paypal.Buttons({
                              style: {
                                  shape: 'rect',
                                  color: 'gold',
                                  layout: 'vertical',
                                  label: 'subscribe'
                              },
                              createSubscription: function(data, actions) {
                                return actions.subscription.create({
                                  /* Creates the subscription */
                                  plan_id: 'P-658069381H438834BNBIPIDA'
                                });
                              },
                              onApprove: function(data, actions) {
                                alert(data.subscriptionID); // You can add optional success message for the subscriber here
                              }
                          }).render('#paypal-button-container-P-658069381H438834BNBIPIDA'); // Renders the PayPal button
                        </script>
                    </div>
                ) : (
                    <a class="button" href="https://paypal.me/Ming0619" target="_blank" rel="noopener noreferrer">
                        {t.membership_page.subscribe_now}
                    </a>
                )}
            </div>
        </div>
    </div>
</div>